:root {
    --primary-dark: #1f2937;
    --primary-green: #6EE787;
  }
  body{
    background-color: var(--primary-dark);
    color: var(--primary-green)
  }
  
  .container{
    
    margin: auto;
    width: 50%;
    
   }
  .heading {
  margin: 2rem;
  text-align: center;
  
  
  }
  
  input,label{
    display: block;
  }
  
  input{
    margin-bottom: 1rem;
    width: 100%;
  
  } 
  
  #check-button {
    display: block;
    margin: auto;
    margin-top: 1rem;
    background: transparent;
    color: var(--primary-green);
    border-color: var(--primary-green);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.5rem;
  
  }  